/* You can add global styles to this file, and also import other style files */


.main-container {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 12fr 1fr;
}

.row-one,
.row-two,
.row-three {
    grid-template-columns: 1fr 5fr 2fr;
    display: grid;
    height: 100%;



}

.row-two {

    background-color: grey
}

.row-three {

}

.container-padding {
    margin: 12px;
    border: 1px dashed #3F51B5;


}